@using Purchase.Service.DTO
@model IEnumerable<RequiremetMstDto>

<form id="search-project-form">
    <table style=" width: 100%;">
        <tr>
            <td colspan="10" style="text-align:right">
                <a id="btnSearch" class="btn btn-primary" style="width:100px">查 询</a>
                <a id="btnConfirm" class="btn btn-primary" style="width:100px">确 认</a>
            </td>
        </tr>
        <tr>
            <td>省份</td>
            <td>
                <input id="ProvincePopup" name="Province" class="form-control">
            </td>
            <td>城市</td>
            <td>
                <input id="CityPopup" name="City" class="form-control">
            </td>
        </tr>
    </table>
</form>
<div class="count2 table-responsive" style="max-height: 500px;overflow: auto;">
    <table id="select-table" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th width="80">选择</th>
                <th>需求书Id</th>
                <th>需求书类型</th>
                <th>项目简称</th>
                <th>省份</th>
                <th>城市</th>
                <th>提供服务</th>
                <th>品名</th>
                <th>需求书组</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (RequiremetMstDto item in Model)
                {
                    <tr>
                        <td>@Html.RadioButton("Id", item.RequirementId)</td>
                        <td>@item.RequirementId</td>
                        @*<td>@item.RequirementType</td>*@
                        <td>@item.RequirementName</td>
                        <td>@item.ProjectShortName</td>
                        <td>@item.Province</td>
                        <td>@item.City</td>
                        <td>@item.SupplyService</td>
                        <td>@item.ItemName</td>
                        <td>@item.GroupName</td>
                        <td style="display:none">@item.Responsibilites</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $("#btnConfirm").click(function () {
        var checkRadio = $("#select-table input[type=radio]:checked");
        debugger
        var requirementId = checkRadio.val();
        $.post("/DemandBook/CopyDemandBook", { RequirementId: requirementId, toSeqNO: $("#ToSeqNO").val(),GroupId:$("#GroupId").val() }, function () {
            CopyDemandBookSelectFinish();
        })
    })
    $("#btnSearch").click(function () {
        var params = $("#search-project-form").serializeJson();
        debugger
        $.post("/DemandBook/RequirementSearchByProjectIdSearch", { ProjectId: $("#ProjectId").val(), Province: $("#ProvincePopup").val(), City: $("#CityPopup").val(),GroupId:$("#GroupId").val() }, function (data) {
            if (data && data.List) {
                $("#select-table tbody").empty();
                $.each(data.List, function (index, item) {
                    var tr = $("<tr>");
                    tr.append($("<td>").append($("<input id='Id' type='checkbox'>").val(item.RequirementId)));
                    tr.append($("<td>").html(item.RequirementId));
                    //tr.append($("<td>").html(item.RequirementType));
                    tr.append($("<td>").html(item.RequirementName));
                    tr.append($("<td>").html(item.ProjectShortName));
                    tr.append($("<td>").html(item.Province));
                    tr.append($("<td>").html(item.City));
                    tr.append($("<td>").html(item.SupplyService));
                    tr.append($("<td>").html(item.ItemName));
                    tr.append($("<td>").html(item.GroupName));
                    tr.append($("<td>").html(item.Responsibilites).hide());

                    $("#select-table tbody").append(tr);
                })
            }
           
        })
    })
</script>
