@using Purchase.Web.Common
@model Purchase.DAL.Requirement_Zuotanhui_RequirementDtl5

<form id="Zuotanhui-dtl5-form">
    @Html.Hidden("SeqNO", 0)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="CandidDevice">分类</label>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.fenlei, SelectListTool.HiddenCodeList("需求书-座谈会-设备要求-分类"), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="">类型/品牌</label>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.leixingpinpai, new List<SelectListItem> { }, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="RemarkDtl5">规格/型号</label>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.guigexinghao, htmlAttributes: new { @class = "form-control", multiple="" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="RemarkDtl5">数量/面积</label>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.shuliangmingji, htmlAttributes: new { @class = "form-control", multiple="" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="RemarkDtl5">使用时间</label>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.shiyongshijian, htmlAttributes: new { @class = "form-control", multiple="" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="RemarkDtl5">其他说明</label>
            <div class="col-md-6">
                @Html.TextAreaFor(m => m.qitashuoming5, htmlAttributes: new { @class = "form-control", multiple="" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="saveBtn" type="button" value="保存" class="btn btn-primary btn-check" data-loading-text="提交中..." style="width:100px;height:35px" />
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        //if ($("#ApplyStautCode").val() != "") {
        //    $("#saveBtn").attr("disabled", true);
        //}
        $("#Zuotanhui-dtl5-form #saveBtn").click(function () {
            if (!CommitCheck()) {
                alert("正在审核中或者非本人添加的项目");
                return false;
            }
            $(this).button("loading");
            var params = $("#Zuotanhui-dtl5-form").serializeJson('&');
            params = $.extend(params, getMstObject());

            $.post("/DemandBook/SaveZuotanhuiDtl5", params, function (data) {
                $("#RequirementId").val(data);
                loadZuotanhuiDtl5();
                closeModal();
            });
        })
    })
  
    $("#Zuotanhui-dtl5-form #fenlei").change(function () {
        var el = $("#leixingpinpai");
        var feileiEl = $("#Zuotanhui-dtl5-form #fenlei");
        var combo = $("<select id='leixingpinpai' name='leixingpinpai' class = 'form-control'> ");
        var input = $("<input id='leixingpinpai' name='leixingpinpai' class = 'form-control'> ");

        $.ajax({
            type: 'post',
            url: "/Base/LoadChildHiddenCode",
            data: { type: "需求书-座谈会-设备要求-分类-" + feileiEl.val() + "-类型/品牌" },
            async: false,
            success: function (data) {
                el.empty();
                if (data && data.length > 1) {
                    el = changeSelectInput(el, combo, input, true);
                    for (i in data) {
                        el.append($("<option>").html(data[i]).val(data[i]));
                    }
                } else {
                    el = changeSelectInput(el, combo, input, false);
                }

                el.data("live-search", true).prop("title", "").selectpicker("refresh");
            }
        });       
    })

    function changeSelectInput(el, combo, input, isDropdown) {
        var newEl;
        if (isDropdown) {
            newEl = combo;
        } else {
            newEl = input;
        }
        var parent = el.parent();
        parent.empty();
        parent.append(newEl);

        return newEl;
    }
</script>